@define-color bg #12171B;
@define-color fg #D5E0E6;
@define-color gray1 #608674;
@define-color gray2 #445663;
@define-color gray3 #3A8FB7;
@define-color gray4 #E3A854;
@define-color gray5 #A37887;
@define-color fg_bright #EAF2F7;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}
